services:
  ubuntu-c:
    hostname: ubuntu-c
    container_name: ubuntu-c
    build: 
      context: ./docker/control
      dockerfile: Dockerfile
    ports: 
     - ${UBUNTUC_PORT_SSHD}:22
     - ${UBUNTUC_PORT_TTYD}:7681
    privileged: true
    volumes:
     - ${CONFIG}:/config
     - ${ANSIBLE_HOME}/shared:/shared
     - ${ANSIBLE_HOME}/ubuntu-c/ansible:/home/ansible
     - ${ANSIBLE_HOME}/ubuntu-c/root:/root
     - /sys/fs/cgroup:/sys/fs/cgroup:rw
    networks:
     - luismelo-net

  ubuntu1:
    hostname: ubuntu1
    container_name: ubuntu1
    build:
      context: ./docker/node-ubuntu
      dockerfile: Dockerfile
    ports: 
     - ${UBUNTU1_PORT_SSHD}:22
     - ${UBUNTU1_PORT_TTYD}:7681
     - "6443:6443"
     - "30000-30010:30000-30010"
    privileged: true
    volumes:
     - ${CONFIG}:/config
     - ${ANSIBLE_HOME}/shared:/shared
     - ${ANSIBLE_HOME}/ubuntu1/ansible:/home/ansible
     - ${ANSIBLE_HOME}/ubuntu1/root:/root
     - /sys/fs/cgroup:/sys/fs/cgroup:rw
    networks:
     - luismelo-net

  ubuntu2:
    hostname: ubuntu2
    container_name: ubuntu2
    build:
      context: ./docker/node-ubuntu
      dockerfile: Dockerfile
    ports: 
     - ${UBUNTU2_PORT_SSHD}:22
     - ${UBUNTU2_PORT_TTYD}:7681
    privileged: true
    volumes:
     - ${CONFIG}:/config
     - ${ANSIBLE_HOME}/shared:/shared
     - ${ANSIBLE_HOME}/ubuntu2/ansible:/home/ansible
     - ${ANSIBLE_HOME}/ubuntu2/root:/root
     - /sys/fs/cgroup:/sys/fs/cgroup:rw
    networks:
     - luismelo-net

  ubuntu3:
    hostname: ubuntu3
    container_name: ubuntu3
    build:
      context: ./docker/node-ubuntu
      dockerfile: Dockerfile
    ports: 
     - ${UBUNTU3_PORT_SSHD}:22
     - ${UBUNTU3_PORT_TTYD}:7681
    privileged: true
    volumes:
     - ${CONFIG}:/config
     - ${ANSIBLE_HOME}/shared:/shared
     - ${ANSIBLE_HOME}/ubuntu3/ansible:/home/ansible
     - ${ANSIBLE_HOME}/ubuntu3/root:/root
     - /sys/fs/cgroup:/sys/fs/cgroup:rw
    networks:
     - luismelo-net

  centos1:
    hostname: centos1
    container_name: centos1
    build:
      context: ./docker/node-centos
      dockerfile: Dockerfile
    ports: 
     - ${CENTOS1_PORT_SSHD}:22
     - ${CENTOS1_PORT_TTYD}:7681
    privileged: true
    volumes:
     - ${CONFIG}:/config
     - ${ANSIBLE_HOME}/shared:/shared
     - ${ANSIBLE_HOME}/centos1/ansible:/home/ansible
     - ${ANSIBLE_HOME}/centos1/root:/root
     - /sys/fs/cgroup:/sys/fs/cgroup:rw
    networks:
     - luismelo-net

  centos2:
    hostname: centos2
    container_name: centos2
    build:
      context: ./docker/node-centos
      dockerfile: Dockerfile
    ports: 
     - ${CENTOS2_PORT_SSHD}:22
     - ${CENTOS2_PORT_TTYD}:7681
    privileged: true
    volumes:
     - ${CONFIG}:/config
     - ${ANSIBLE_HOME}/shared:/shared
     - ${ANSIBLE_HOME}/centos2/ansible:/home/ansible
     - ${ANSIBLE_HOME}/centos2/root:/root
     - /sys/fs/cgroup:/sys/fs/cgroup:rw
    networks:
     - luismelo-net

  centos3:
    hostname: centos3
    container_name: centos3
    build:
      context: ./docker/node-centos
      dockerfile: Dockerfile
    ports: 
     - ${CENTOS3_PORT_SSHD}:22
     - ${CENTOS3_PORT_TTYD}:7681
    privileged: true
    volumes:
     - ${CONFIG}:/config
     - ${ANSIBLE_HOME}/shared:/shared
     - ${ANSIBLE_HOME}/centos3/ansible:/home/ansible
     - ${ANSIBLE_HOME}/centos3/root:/root
     - /sys/fs/cgroup:/sys/fs/cgroup:rw
    networks:
     - luismelo-net

  portal:
    hostname: portal
    container_name: portal
    build:
      context: ./docker/portal
      dockerfile: Dockerfile
    ports:
     - "1000:80"
    networks:
     - luismelo-net

networks:
  luismelo-net:
    driver: bridge
