---
- name: Deploy Sample Application to K3s
  hosts: k3s_master
  become: yes
  tasks:
    - name: Create sample application deployment
      copy:
        dest: /tmp/sample-app.yaml
        content: |
          apiVersion: apps/v1
          kind: Deployment
          metadata:
            name: nginx-demo
            namespace: default
          spec:
            replicas: 2
            selector:
              matchLabels:
                app: nginx
            template:
              metadata:
                labels:
                  app: nginx
              spec:
                containers:
                - name: nginx
                  image: nginx:alpine
                  ports:
                  - containerPort: 80
          ---
          apiVersion: v1
          kind: Service
          metadata:
            name: nginx-demo
            namespace: default
          spec:
            type: NodePort
            selector:
              app: nginx
            ports:
            - port: 80
              targetPort: 80
              nodePort: 30001

    - name: Apply deployment
      shell: kubectl apply -f /tmp/sample-app.yaml
      register: deploy_result

    - name: Wait for pods to be ready
      shell: kubectl wait --for=condition=ready pod -l app=nginx --timeout=120s
      register: wait_result

    - name: Get deployment status
      shell: kubectl get all -l app=nginx
      register: status_output

    - name: Display deployment info
      debug:
        msg: |
          Sample application deployed!
          {{ status_output.stdout_lines }}
          Access at: http://ubuntu1:30001
